html { box-sizing: border-box; }

* {
  &,
  &::before,
  &::after { box-sizing: inherit; }
}

body {font-family: $font-family-sans;}

input {display: block;}

button {
  @include button-variant;
}

a {color: $black;}
a:visited {color: $black;}
a:hover {color: $dark-gray;}
a:active {color: $black;}
a {text-decoration: none;}

ul {padding: 0;}
li {list-style-type: none;}

.app {
  display: flex;
  flex-direction: column;
  margin: 20px;
  min-height: 100vh;

  @media (min-width: map-get($breakpoints, medium)) {
    flex-direction: row;
    &__column-first {
      border-right: 1px solid $light-gray;
      flex-grow: 1;
      max-width: 60%;
    }

    &__column-last {
      border-left: 1px solid $light-gray;
    }
  }
}
