html { box-sizing: border-box; }

* {
  &,
  &::before,
  &::after { box-sizing: inherit; }
}

body {
  font-family: $font-family-sans;
}

img {
  filter: grayscale(100%);
}

button {
  @include button-variant;
}

.app {
  display: flex;
  position: relative;
  background-color: $dark-bg;
}
