@import 'normalize';

$black: #000;
$white: #fff;
$red: #ec5446;
$orange: #f79b60;
$light-blue: #1a398b;
$dark-blue: #001856;
$aluminum: #999;
$light-green: #57bb89;
$dark-green: #4da67a;
$light-gray: #757b87;
$dark-gray: #4c5365;
$dark-bg: #444b5d;

$spacing-unit: 20px !default;
$breakpoints: (
  small: 500px,
  medium: 769px,
  large: 1080px
) !default;

$font-family-sans-fallback:'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif !default;
$font-family-sans: 'SharpUnity', $font-family-sans-fallback !default;

@mixin clearfix {
  &::before,
  &::after {
    display: table;
    content: '';
  }
  &::after { clear: both; }
}

@mixin button-variant {
  padding: 4px $spacing-unit;
  background-color: $light-green;
  border: 0;
  border-radius: 3px;
  color: $white;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;

  &:hover {
    background-color: $dark-green;
  }

  &:focus {
    outline:0;
  }

  &:disabled {
    background-color: $dark-gray;
    cursor: default;

    &:hover {
      background-color: $dark-gray;
    }
  }
}

@include normalize();

.is-hidden {
  display: none;
}
