.search {
  padding: 20px 0;
  border-bottom: 1px solid $light-gray;

  &__fields {
    display: flex;
    justify-content: space-between;
    max-width: 360px;
    margin-bottom: 20px;
  }
}

.posts,
.favorites {
  p {
    margin: 0 0 20px;
    font-size: 0.9em;
  }

  &__post {
    margin: 20px 0 20px 0;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid $light-gray;

    &-images {
      flex-wrap: wrap;
      display: flex;
      margin-bottom: 20px;

      &-img {
        margin: 0 10px 10px 0;
        width: 100%;

        &.is-last {
          margin-bottom: 0;
        }

        &.is-first {
          margin-top: 0;
        }

        &.is-first.is-last {
          margin-right: 0;
        }
      }
    }
  }

  @media (min-width: map-get($breakpoints, medium)) {
    &__post {
      margin: 20px 20px 20px 0;
      border-radius: 3px;
      border: 1px solid $light-gray;
    }
  }
}

.posts {
  padding-bottom: 20px 0;
  border-bottom: 1px solid $light-gray;
  border-top: 1px solid $light-gray;

  @media (min-width: map-get($breakpoints, medium)) {
    border-bottom: none;
  }
}

.favorites {
  border-top: 1px solid $light-gray;

  @media (min-width: map-get($breakpoints, medium)) {
    margin-left: 20px;
    border-top: none;
  }
}
